    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-image: url(images/background.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-box {
        background: #d18484;
        text-align: center;
        padding: 40px 90px;
        color: #17191d;
        position: relative;
        border-radius: 20px;
    }

    .profile-pic {
        width: 150px;
        border-radius: 50%;
        background: #2b3444;
        padding: 6px;
        margin-top: 40px;
    }

    .profile-bottom {
        background: #2b3444;
        color: #999;
        padding: 40px;
        margin-right: -90px;
        margin-left: -90px;
        margin-bottom: -40px;
        border-radius: 20px;
        margin-top: -10px;
    }

    .profile-box button {
        background: #2b3444;
        color: #d18484;
        border: none;
        outline: none;
        box-shadow: 0 5px 10px #d18484;
        padding: 15px 60px;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: -50px;
        font-weight: 600;
        font-size: 16px;

    }

    .profile-box h3 {
        font-size: 22px;
        margin-top: 20px;
        font-weight: 500;
    }

    .social-media img {
        width: 20px;
        margin: 30px 5px;
    }