* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.header {
	min-height: 100vh;
	width: 100%;
	background: #313131;
	color: #fff;
	position: absolute;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}

.logo {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10%;
}

.nav-links {
	text-align: right;
	background: #CA3E47;
	padding: 10px 30px;
	border-bottom-left-radius: 18px;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 25px;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.left-sidebar {
	width: 20%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #CA3E47;
}

.row {
	padding: 0 10%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	margin-top: 5%;
}

.left-col {
	flex-basis: 40%;
}

.right-col {
	flex-basis: 55%;
}

.left-col img {
	width: 80%;
	cursor: pointer;
	filter: grayscale(0);
	transition: filter 1s;
	border-radius: 20px;
}

.left-col img:hover {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.right-col h1 {
	font-size: 55px;
	font-weight: 600;
}

.right-col p {
	color: #777;
	margin: 20px 0 70px;

}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #414141;
	height: auto;
	width: 100vw;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
}

.footer p {
	text-align: center;
	color: #dddddd;
	margin-top: 10;
	font-size: 12;
}

a {
	color: #CA3E47;
	text-decoration: none;
}

li {
	display: inline;
	justify-content: center;
	margin-left: 10px;
}

.social-icon {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 800px 900px;
}

.input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}

.border {
	border: 1px solid #ccc !important
}

.button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

.block {
	display: block;
	width: 100%
}

.dark-grey,
.hover-dark-grey:hover,
.dark-gray,
.hover-dark-gray:hover {
	color: #fff !important;
	background-color: #616161 !important
}

.section,
.code {
	margin-top: 16px !important;
	margin-bottom: 16px !important
}

.center {
	text-align: center !important
}